@{
    ViewBag.Title = "Nuevo";
}
<div class="col-md-8 col-centered mt-3">
    <div class="card">
        <div class="card-block">
            <!--Header-->
            <div class="form-header">
                <h3 class="textWhite">EMPLEADO</h3>
            </div>

            <!--Body-->
            <div style="margin-bottom:20px;">
                <span class="labeSubTitulo">Si deseas modificar o eliminar solo teclea el numero de empleado y presiona enter</span>
                <br />
            </div>
            <div class="md-form">
                <input type="number" id="txtNumero" class="form-control corta">
                <label for="txtNumero">Numero</label>
            </div>
            <div class="md-form">
                <input type="text" id="txtNombre" length="200" maxlength="200" class="form-control larga">
                <label for="txtNombre">Nombre</label>
            </div>
            <div>
                <div style="width:100%;margin-top: 3rem;">
                    <div class="md-form">
                        <div class="md-form">
                            <label for="ddlRol" class="active lblCombo">Rol</label>
                            <select class="form-control" id="ddlRol" style="width:400px;"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div style="width:100%;margin-top: 3rem;">
                    <div class="md-form">
                        <div class="md-form">
                            <label for="ddlTipo" class="active lblCombo">Tipo</label>
                            <select class="form-control" id="ddlTipo" style="width:400px;"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button id="btnEliminar" class="btn btn-primary">Eliminar</button>
                <button id="btnGuardar" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>