body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h1,h2,h3,h4,h5,h6{
    color:black;
}
.textWhite{
    color:white !important;
}
.bg-primary{
    background-color:#292b2c !important;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.md-form label {
    font-size: .8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%);
}
.form-header {
    background:#808080;
}
.larga{width: 400px !important;}
.corta{width: 100px !important;}
